{% set image = content.portraitImage.all() %}

{% if image|length == 2 %}
	{% set imageOne =  image[0] %}
	{% set imageTwo =  image[1] %}

	{% set imageOneOptimized = imageOne.optimceImagesPortrait %}
	{% set imageTwoOptimized = imageTwo.optimceImagesPortrait %}


	<div class="image__portraitDubble">
		<div class="image-wrapper">
			<picture>
				<img src="{{ image ? imageOneOptimized.src }}" alt="{{ image ? imageOne.title }}"/>
			</picture>
		</div>
		<div class="image-wrapper">
			<picture>
				<img src="{{image ? imageTwoOptimized.src }}" alt="{{ image ? imageTwo.title }}"/>
			</picture>
		</div>
	</div>
{% elseif  image|length == 1 %}
	{% set imageOne =  image[0] %}
	{% set imageOneOptimized = imageOne.optimceImagesPortrait %}

	<div class="image-wrapper image__portrait">
		<picture>
			<img src="{{ image ? imageOneOptimized.src }}" alt="{{ image ? imageOne.title }}"/>
		</picture>
	</div>
{% endif %}
