{% extends "_layout.twig" %}

{% block content %}

	<section class="hero capped">
		<h1 class="hero__title ">{{ entry.heroTitle }}</h1>
		<div class="profile">
			{% for asset in entry.profileImage.all() %}
				<img class="profile__image" src="{{ asset.url }}" alt="Profile Picture">
			{% endfor %}
			<p class="profile__name">{{ entry.profileName }}</p>
		</div>
		<p>
			{{ entry.heroText}}
		</p>
	</section>

	<section class="button-multiple capped">

		{% for asset in entry.cvContent.all() %}
			<a href="{{ asset.url }}" target="_blank">
				<button class="button">
					<h4>Ferilskrá</h4>
					<div class="line"></div>
				</button>
			</a>
		{% endfor %}

		<a href="/art">
			<button class="button">
				<h4>Verk</h4>
				<div class="line"></div>
			</button>
		</a>
	</section>

	<article class="about__artwork-container capped">

		{% for content in entry.aboutImages.all() %}
			{% include "about/_content/" ~ content.type %}
		{% endfor %}

	</article>


{% endblock content %}
